* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 300px;
}

body {
  padding: 30px;
  font-family: "soleil", sans-serif;
}

h1 {
}

img {
  width: 100%;
}

img.selected {
  border: 5px solid blue;
}

input {
  display: block;
}
